*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* As propriedades width e height incluem as propriedades padding e border, porém não incluem a propriedade margin */
    font-family: 'Red Hat Display', sans-serif;
}

/* Padrões */
.container{
    width: 90%;
    padding: 30px 0;
    max-width: 1280px; /* Coloca uma largura máxima para a div, por exemplo, caso 90% que está setado no width ultrapasse 1280px a largura irá ficar como 1280px */
    margin: 0 auto; /* Centraliza horizontalmente uma div e coloca a margem da altura como 0*/
}

h1, h2, h3{
    color: #2c81bf;
    margin-bottom: 10px;
}

p{
    margin: 10px 0;
}

b{
    color: #135b90;
}

.inputs span{
    display: block;
}

span{
    margin-top: 20px;
}

input{
    width: 100%;
    height: 35px;
    padding: 7px;
    margin-top: 5px;
    display: block;
    border-radius: 7px;
    border: 1px solid #135b90;
}

button{
    background: #135b90;
    color: white;
    border-radius: 7px;
    width: 100%;
    margin-top: 20px;
    height: 35px;
    border: none;
}

button:active{ /* quando o botão for clicado */
    position: relative; /* o elemento é posicionado de acordo com a posição normal dele */
    top: 1px; /* move o elemento 1px acima do que ele está normalmente posicionado, como está dentro do selector :active, só irá acontecer quando o usuário clica no botão */
}

/* Div header */

.header{
    height: 110px;
    background: white;
    border-bottom: 4px solid #43a2e7;
}

.header nav{
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header nav img{
    height: 90px;
    margin: 0 25px; /* Seta a margem top e bottom como 0 e left e right como 25px */
}

.header nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.header nav ul li#aqui a{
    color: #43a2e7;
    font-weight: bold;
}

.header nav ul li a{
    color: #2c81bf;
    font-size: 25px;
    margin: 0 25px;
    text-decoration: none;
}

/* Div main - index.html */
.main{
    min-height: calc(100vh - 110px - 100px); /* Faz o cálculo que está dentro dos (), neste exemplo seria a altura vertical da janela - 110px (header) - 100px (footer) */
}

.main-banner{
    height: calc(100vh - 110px - 100px);
}

.banner{
    width: 100%;
    height: 100%;
    background-image: url(../images/BG_01.jpg);
    background-size: cover; /* Seta o tamanho do background, sendo que cover ajusta a imagem o mais largamente possível e mantém sua proporção (a imagem não fica esticada)*/
    /* Saiba mais sobre background-size em: https://developer.mozilla.org/pt-BR/docs/Web/CSS/background-size#cover */
}

.banner .container{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner .card{
    max-width: 400px;
    height: fit-content;
    padding: 30px;
    border-radius: 7px;
    background: #7abff1ec;
    color: #135b90;
    font-size: 25px;
}

/* Div main - projeto.html */
.banner.projeto{
    height: 50vh;
    border-bottom: 4px solid #43a2e7;
}

.itens-projeto .item{
    margin-bottom: 30px;
}

/* Div main - calculadora.html */
.calculadora{
    display: flex;
    justify-content: space-between;
}

.calculadora .calculadora-box{
    width: 45%;
}

.calculadora .calculadora-box p{
    margin: 30px 0;
}

.calculadora .resultado{
    margin: 30px 0;
}

.calculadora #resultados{
    display: none;
}

.calculadora #resultados p{
    margin: 5px 0;
}

/* Div main - cadastro.html */
.container-form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-form .card{
    width: 100%;
}

/* Div footer */
.footer{
    height: 100px;
    background: #43a2e7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}